
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: bold;
	src:
		 url('../../YekanBakh/fonts/woff2/YekanBakh_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../YekanBakh/fonts/ttf/YekanBakh_Bold.ttf') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 500;
	src: url('../../YekanBakh/fonts/eot/YekanBakh_Medium.eot');
	src: url('../../YekanBakh/fonts/eot/YekanBakh_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../YekanBakh/fonts/ttf/YekanBakh_Medium.ttf') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 300;
	src: url('../../YekanBakh/fonts/eot/YekanBakh_Light.eot');
	src: url('../../YekanBakh/fonts/eot/YekanBakh_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../YekanBakh/fonts/ttf/YekanBakh_Light.ttf') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 200;
	src: url('../../YekanBakh/fonts/eot/YekanBakh_Hairline.eot');
	src: url('../../YekanBakh/fonts/eot/YekanBakh_Hairline.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../YekanBakh/fonts/woff2/YekanBakh_Hairline.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../YekanBakh/fonts/woff/YekanBakh_Hairline.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../YekanBakh/fonts/ttf/YekanBakh_Hairline.ttf') format('truetype');
}

