.defaultCard {
    display: flex;
    flex-direction: column;
    background: #ebebeb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 229, 0.4);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 2rem auto;
    width: 60rem;
    max-width: 95%;
}

.childCard {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    width: 60rem;
    max-width: 95%;
    align-content: space-around;
}