@import url(../../Fonts/IranSans/css/fontiran.css);

.customOption {
    font-family: IranSans, serif;
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
}

.customOption:hover {
    background-color: #f2f2f2;
}

.customOption.selected {
    background-color: #007bff;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .customOption {
        font-size: 1.2rem;
    }
}


