@import url(../../Fonts/IranSans/css/fontiran.css);
.custom-option {
    font-family: IranSans;
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
}

.custom-option:hover {
    background-color: #f2f2f2;
}

.custom-option.selected {
    background-color: #007bff;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .custom-option {
        font-size: 1.2rem;
    }
}


