@import url(../../Fonts/YekanBakh/css/fontiran.css);

.ButtonSubmit {
    width: 100%;
    font-family: YekanBakh, Serif, serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #1c1fe9;
    color: white;
}

.ButtonClose {
    width: 100%;
    font-family: YekanBakh, Serif, serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #f44336;
    color: white;
}

.ButtonSubmit:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out;
    background-color: green;

}

.ButtonClose:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out;
}

.ButtonSubmit:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.3);
}

.ButtonClose:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.3);
}

.ButtonSubmit:active {
    transform: translateY(1px);
}

.ButtonClose:active {
    transform: translateY(1px);
}

@media (max-width: 480px) {
    .ButtonSubmit {
        font-size: 14px;
        padding: 6px 12px;
    }

    .ButtonClose {
        font-size: 14px;
        padding: 6px 12px;
    }
}
