@import url(../../Fonts/YekanBakh/css/fontiran.css);
@import url(../../Fonts/IranSans/css/fontiran.css);
.message{
    font-family: IranSans, serif;
    font-weight: bold;
    color: maroon;
    width: auto;
    height: auto;
    text-align: center;
}
.alert{
    font-family: YekanBakh, serif;
    font-weight: bold;
    color: #1c1fe9;
    width: auto;
    height: auto;
    text-align: center;
}