.guestHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    width: 40rem;
    max-width: 95%;

}
.guestContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    margin: 2rem auto;
    width: 40rem;
    max-width: 95%;
}
.guestChildCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.guestButton{
    font-weight: bold;
    font-size: 50px;
    height: 100px;

}
.guestPHeader{
    font-weight: bold;
    font-size: 40px;
}
.guestP{
    font-weight: bold;
    font-size: 25px;
}
@media (max-width: 760px) {
    .guestContainer{
        width: auto;
        height: auto;
    }
    .guestHeader{
        width: auto;
        height: auto;
    }
    .guestChildCard{
        width: auto;
        height: auto;
    }
}