.custom-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-list-item {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
}

.custom-list-item:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}

.custom-list-item:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    .custom-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .custom-list-item {
        width: calc(50% - 10px);
    }
}
